In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("kidney_disease_test.csv")

In [3]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,209,19.0,70.0,1.020,0.0,0.0,NaN,normal,notpresent,notpresent,...,11.5,NaN,6900.0,NaN,no,no,no,good,no,no
1,280,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,13.3,52,8100.0,5.2,no,no,no,good,no,no
2,33,60.0,100.0,1.020,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,10.1,29,NaN,NaN,yes,no,no,poor,no,no
3,210,59.0,100.0,1.015,4.0,2.0,normal,normal,notpresent,notpresent,...,7.3,20,9800.0,3.9,yes,yes,yes,good,no,yes
4,93,73.0,100.0,1.010,3.0,2.0,abnormal,abnormal,present,notpresent,...,9.2,30,7000.0,3.2,yes,yes,yes,poor,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,60,67.0,90.0,1.020,1.0,0.0,NaN,abnormal,present,notpresent,...,NaN,NaN,NaN,NaN,yes,no,no,good,no,no
116,79,56.0,80.0,1.010,1.0,0.0,NaN,normal,notpresent,notpresent,...,13.5,40,11800.0,5.0,yes,yes,no,poor,yes,no
117,285,66.0,70.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,16.0,41,5300.0,5.9,no,no,no,good,no,no
118,305,41.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,17.1,41,9100.0,5.2,no,no,no,good,no,no
119,281,55.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,15.5,41,9100.0,6.0,no,no,no,good,no,no

In [4]:
dataset.isnull().sum()

id        0
age       4
bp        3
sg       11
al       11
su       11
rbc      45
pc       15
pcc       0
ba        0
bgr      11
bu        5
sc        5
sod      20
pot      20
hemo     13
pcv      19
wc       28
rc       37
htn       1
dm        1
cad       1
appet     1
pe        1
ane       1
dtype: int64

In [5]:
def QuanQual(dataset):
    quan=[]
    qual=[]
    for ColumnName in dataset.columns:
        #print(ColumnName)
        if (dataset[ColumnName].dtypes=='O'):
            #print("qual")
            qual.append(ColumnName)
        else:
            #print("quan")
            quan.append(ColumnName)
    return quan,qual

In [6]:
quan,qual=QuanQual(dataset)

In [7]:
quan

['id',
 'age',
 'bp',
 'sg',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'wc',
 'rc']

In [8]:
qual

['rbc', 'pc', 'pcc', 'ba', 'pcv', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane']

In [9]:
dataset["rbc"].fillna(dataset["rbc"].mode(),inplace=True)

C:\Users\Karpagavalli\AppData\Local\Temp\ipykernel_48696\1094316666.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["rbc"].fillna(dataset["rbc"].mode(),inplace=True)

In [10]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(dataset[quan])
df=imp.transform(dataset[quan])
df=pd.DataFrame(df,columns=quan)

In [11]:
df

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,wc,rc
0,209.0,19.0,70.0,1.020000,0.0,0.000000,143.165138,58.447826,3.226957,138.11,4.358,11.500000,6900.000000,4.709639
1,280.0,47.0,80.0,1.017339,1.0,0.477064,93.000000,33.000000,0.900000,144.00,4.500,13.300000,8100.000000,5.200000
2,33.0,60.0,100.0,1.020000,2.0,0.000000,140.000000,55.000000,2.500000,138.11,4.358,10.100000,8518.478261,4.709639
3,210.0,59.0,100.0,1.015000,4.0,2.000000,255.000000,132.000000,12.800000,135.00,5.700,7.300000,9800.000000,3.900000
4,93.0,73.0,100.0,1.010000,3.0,2.000000,295.000000,90.000000,5.600000,140.00,2.900,9.200000,7000.000000,3.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,60.0,67.0,90.0,1.020000,1.0,0.000000,141.000000,66.000000,3.200000,138.00,6.600,12.514953,8518.478261,4.709639
116,79.0,56.0,80.0,1.010000,1.0,0.000000,165.000000,55.000000,1.800000,138.11,4.358,13.500000,11800.000000,5.000000
117,285.0,66.0,70.0,1.020000,0.0,0.000000,94.000000,19.000000,0.700000,135.00,3.900,16.000000,5300.000000,5.900000
118,305.0,41.0,80.0,1.020000,0.0,0.000000,122.000000,25.000000,0.800000,138.00,5.000,17.100000,9100.000000,5.200000
119,281.0,55.0,80.0,1.025000,0.0,0.000000,130.000000,50.000000,1.200000,147.00,5.000,15.500000,9100.000000,6.000000

In [12]:
df.isna().sum()

id      0
age     0
bp      0
sg      0
al      0
su      0
bgr     0
bu      0
sc      0
sod     0
pot     0
hemo    0
wc      0
rc      0
dtype: int64

In [13]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp.fit(dataset[qual])
df1=imp.transform(dataset[qual])
df1=pd.DataFrame(df1,columns=qual)

In [14]:
df1

,rbc,pc,pcc,ba,pcv,htn,dm,cad,appet,pe,ane
0,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no
1,normal,normal,notpresent,notpresent,52,no,no,no,good,no,no
2,abnormal,abnormal,notpresent,notpresent,29,yes,no,no,poor,no,no
3,normal,normal,notpresent,notpresent,20,yes,yes,yes,good,no,yes
4,abnormal,abnormal,present,notpresent,30,yes,yes,yes,poor,no,no
...,...,...,...,...,...,...,...,...,...,...,...
115,normal,abnormal,present,notpresent,41,yes,no,no,good,no,no
116,normal,normal,notpresent,notpresent,40,yes,yes,no,poor,yes,no
117,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no
118,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no
119,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no

In [15]:
df1.isna().sum()

rbc      0
pc       0
pcc      0
ba       0
pcv      0
htn      0
dm       0
cad      0
appet    0
pe       0
ane      0
dtype: int64

In [23]:
merged_tables=[df,df1]

In [26]:
result=pd.concat(merged_tables,axis=1)

In [27]:
result

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pc,pcc,ba,pcv,htn,dm,cad,appet,pe,ane
0,209.0,19.0,70.0,1.020000,0.0,0.000000,143.165138,58.447826,3.226957,138.11,...,normal,notpresent,notpresent,41,no,no,no,good,no,no
1,280.0,47.0,80.0,1.017339,1.0,0.477064,93.000000,33.000000,0.900000,144.00,...,normal,notpresent,notpresent,52,no,no,no,good,no,no
2,33.0,60.0,100.0,1.020000,2.0,0.000000,140.000000,55.000000,2.500000,138.11,...,abnormal,notpresent,notpresent,29,yes,no,no,poor,no,no
3,210.0,59.0,100.0,1.015000,4.0,2.000000,255.000000,132.000000,12.800000,135.00,...,normal,notpresent,notpresent,20,yes,yes,yes,good,no,yes
4,93.0,73.0,100.0,1.010000,3.0,2.000000,295.000000,90.000000,5.600000,140.00,...,abnormal,present,notpresent,30,yes,yes,yes,poor,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,60.0,67.0,90.0,1.020000,1.0,0.000000,141.000000,66.000000,3.200000,138.00,...,abnormal,present,notpresent,41,yes,no,no,good,no,no
116,79.0,56.0,80.0,1.010000,1.0,0.000000,165.000000,55.000000,1.800000,138.11,...,normal,notpresent,notpresent,40,yes,yes,no,poor,yes,no
117,285.0,66.0,70.0,1.020000,0.0,0.000000,94.000000,19.000000,0.700000,135.00,...,normal,notpresent,notpresent,41,no,no,no,good,no,no
118,305.0,41.0,80.0,1.020000,0.0,0.000000,122.000000,25.000000,0.800000,138.00,...,normal,notpresent,notpresent,41,no,no,no,good,no,no
119,281.0,55.0,80.0,1.025000,0.0,0.000000,130.000000,50.000000,1.200000,147.00,...,normal,notpresent,notpresent,41,no,no,no,good,no,no

In [28]:
result.isnull().sum()

id       0
age      0
bp       0
sg       0
al       0
su       0
bgr      0
bu       0
sc       0
sod      0
pot      0
hemo     0
wc       0
rc       0
rbc      0
pc       0
pcc      0
ba       0
pcv      0
htn      0
dm       0
cad      0
appet    0
pe       0
ane      0
dtype: int64

In [30]:
result.to_csv("Preprocessed.csv",index=False)